*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input-filde{
    display: flex;
    gap: 20px;
}
h1{
    color: rgba(0, 255, 0, 0.848);
}
h1 span{
    color: aliceblue;
}
#input{
    padding: 10px 5px;
    border-radius: 4px;
    border: none;
    outline: none;
}
.copy-btn,.generateBtn{
    padding: 10px 5px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #0bee0b;
    color: black;
    font-weight: 700;
}